@import "bourbon/app/assets/stylesheets/bourbon";
@import "mixin";
@import "root";
.roww{
	@media (min-width: 992px){

		display: flex;
		flex-wrap: wrap;
	}
	@include roww(10px);
}
.custom-scroll {
	scrollbar-color: #C4C4C4 transparent;

	scrollbar-width: thin;
	scrollbar-color: #C4C4C4 transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: #C4C4C4;
		border-radius: 3px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


.roww>* {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x)/ 2);
	padding-left: calc(var(--bs-gutter-x)/ 2);
	margin-top: var(--bs-gutter-y);
}
.coll{
	flex: 1 0 0%;
}
@media (min-width: 768px){

	.coll-sm-auto{
		flex: 0 0 auto;
		width: auto;
	}
}
.lib-block {
	li{

		padding: 0;
		margin: 0;
		&::before{
			display: none;
		}
	}
}

.search-block{
	// flex-wrap: wrap;
	margin-bottom: 30px;
	&--year{
		@media (min-width: 992px){

			width: 248px;
		}
	}
	&__group{
		display: flex;

	}
	&__title{
		width: 100%;
		color: #C4C4C4;
		font-size: 15px;
	}
	.form-control{
		border: 1px solid $primary; 
		font-size: 18px;
		padding: 6px 10px;
		@media (min-width: 992px){
			padding: 6px 20px;

		}
	}
	&__input{
		flex-grow: 1;
		border-radius: 0 2px 2px 0;
	}
}

.search-block__select-wrap{
	min-width: 123px;
	max-width: 123px;
	margin-right: -1px;
	&--where{
		min-width: 174px;
		max-width: 174px;
	}

}
.search-block__select{
	border-radius:  2px 0 0 2px ;
}
.select2{

}
.select2-container--default .select2-results>.select2-results__options{
	max-height: none;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #96BF31;
	font-size: 18px;
	padding: 6px 10px;
	@media (min-width: 992px){
		padding: 6px 20px;

	}
	display: block;
	border-radius:  2px 0 0 2px ;
	height: 39px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 100%;
}
.select2-search--dropdown {
	display: none !important;
}
.select2{
	li{
		list-style: none;
	}
}

.select2-results__options{
	overflow-x: hidden;
	li{
		margin-left: 0;
		padding: 5px 20px ;
		font-size: 18px;
		margin-top: 0;
		white-space: nowrap;
		margin-bottom: 0;
		background-color: transparent !important;
		color: #2F3338;
		&::before{
			display: none;
		}
	}
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
	color: $primary;
}

.select2-dropdown{
	width: auto !important;
	background: #FFFFFF;
	border: none;
	/* 1 */

	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}
.select2-container{
	width: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 0;
	padding-right: 0;
}


.theme-block{
	&.active{
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	}
	border-radius: 2px;
	margin-bottom: 40px;
	&__toggle{
		height: 54px;
		cursor: pointer;
		background-image: url(../img/toggle.svg);
		background-repeat: no-repeat;
		background-size: 24px;
		display: flex;
		align-items: center;
		@media (min-width: 992px){
			
			background-position: 10px  center;
			padding-left: 34px;
		}
		background-position: 0  center;
		padding-left: 24px;
		color: $primary;
		&.active{

			border-bottom: 1px solid #E5E5E5;
			&::after{
				opacity: 1;
			}
			&::before{
				opacity: 0;
			}
		}
		border-bottom: 1px solid transparent;
		// justify-content: space-between;
		padding-right: 20px;
		position: relative;
		&::before{
			content: '';
			@include triangle(12px,$primary, down);
			margin-left: 10px;
			order: 2;
			@include mt;
		}
		&::after{
			@include a-cent1(y);
			right: 20px;
			content: url(../img/close.svg);
			// right: 20px;
			opacity: 0;
			@include mt;
		}
	}
	&__dropdown{
		display: none;
	}
	&__dropdown-inner {
		max-height: 336px;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		@extend .custom-scroll;
		ul{
			columns: 2;
			@media (min-width: 768px){
				columns: 3;
			}
			@media (min-width: 992px){
			}
			@media (min-width: 1200px){
				columns: 4;
			}
			color: #000000;
		}
		li{
			display: inline-block;
			width: 100%;
		}
		.title{
			padding-left: 8px;
			text-transform: uppercase;
			font-weight: bold;
		}
		border-bottom: 1px solid #E5E5E5;
		padding: rem(30) rem(50);
	}
	&__dropdown-footer{
		color: #F50000;
		font-size: 14px;
		cursor: pointer;
		padding: 15px 17px;
		text-align: right;
	}
}

.theme-input{
	display: block;
	cursor: pointer;
	&__input{
		position: absolute;
		opacity: 0;
	}
	&__text{
		font-size: 18px;
		padding: 2px 8px;
		border: 1px solid transparent;
		margin-bottom: 5px;
		display: block;
		@include mt;
		border-radius: 3px;
		@include ellips;
		&:hover{
			border-color: $primary;
		}
	}
	&__input:checked ~ &__text{
		background-color: $primary;
		color: #ffffff;
	}
 
}

.catalog-block{
	&__head{
		border-bottom: 1px solid #EFF1F5;
	}
	.select2-container--default  {
	max-width: 200px;
	}
	.select2-container--default .select2-selection--single{
		border: none;
	}
}

.catalog-block{
	font-size: 18px;
	padding-bottom: 40px;
	&__head{
		margin-bottom: rem(30);
	}
	table{
		width: 100%;
	}
	th{
		font-size: 11px;
		line-height: 16px;
		/* identical to box height */

		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: #C4C4C4;
	}

	&__caption{
		display: flex;
		
	}
	&__img-wrap{
		width: 45px;
		flex:  0 0 auto;
		margin-right: 10px;
	}
	td{
		color: rgba(0, 0, 0, 0.7);
		vertical-align: top;
		
	}
	th,
	td{
		padding-bottom: 10px;
		@media (min-width: 992px){
			padding-top: 10px;
			
			&:nth-last-child(1),
			&:nth-last-child(2){
				text-align: center;
			}
		}
	}
	&__title{
		a{
			color: rgba(0, 0, 0, 0.7);
		} 
	}
	&__label{
		font-size: 13px;
		border-radius: 6px;
		@include mt;
		display: inline-block;
		padding: 1px rem(10);
		margin-right: 10px;
		&.active,
		&:hover{
			background: rgba(150, 191, 49, 0.15);
			color: $primary;
		}
	}
	.btn-outline-primary{
		width: 100%;
	}

	@media (max-width: 991.98px) {
		table{
			display: block;
		}
		thead{
			display: none;
		}
		tbody,
		tr {
			display: block;
		}
		td{
			display: flex;
			&::before{
				content: attr(data-title);
				font-size: 11px;
				line-height: 16px;
				/* identical to box height */

				letter-spacing: 0.1em;
				text-transform: uppercase;

				color: #C4C4C4;
				width: 110px;
				margin-right: 20px;
				// padding-top: 10px;

			}
			@media (max-width: 575.98px) {
				&:first-child{
					display: block;
				}
			}
		}
	}
}

.btn-outline-primary{
	border-color: $primary;
	// width: 100%;
	color: $primary;
	background: transparent;
	@include mt;
	margin-top: 60px;
	margin-bottom: 20px;
	&:hover{
		background-color: $primary;
	}
}
.catalog-block-pagination{
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	display: flex;
	&__item{
		padding: 10px;
			color: #C4C4C4;
			&--current{
				color: #000000;
			}
	}
}