@import "bourbon/app/assets/stylesheets/bourbon";
@import "mixin";
@import "root";

// $primary
.roww {
	@media (min-width: 992px) {
		display: flex;
		flex-wrap: wrap;
	}
	@include roww(10px);
}
.custom-scroll {
	scrollbar-color: #c4c4c4 transparent;

	scrollbar-width: thin;
	scrollbar-color: #c4c4c4 transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block;
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: #c4c4c4;
		border-radius: 3px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

.roww > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) / 2);
	padding-left: calc(var(--bs-gutter-x) / 2);
	margin-top: var(--bs-gutter-y);
}
.coll {
	flex: 1 0 0%;
}
@media (min-width: 768px) {
	.coll-sm-auto {
		flex: 0 0 auto;
		width: auto;
	}
}
.lib-block {
	li {
		padding: 0;
		margin: 0;
		&::before {
			display: none;
		}
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 12px;
	@media (min-width: 992px) {
	}
	b {
		border-color: #000 transparent transparent transparent !important;
		border-width: 4px 4px 0 4px !important;
	}
}
.search-block {
	// flex-wrap: wrap;
	margin-bottom: 8px;
	&--year {
		@media (min-width: 992px) {
			width: 248px;
		}
	}
	&__group {
		display: flex;
	}
	&__title {
		width: 100%;
		color: #c4c4c4;
		font-size: 15px;
		line-height: 1.4;
		padding-bottom: rem(18);
	}
	.form-control {
		border: 1px solid $primary;
		font-size: 18px;
		padding: 6px 10px;
		@media (min-width: 992px) {
			padding: 7px 20px;
		}
	}
	&__input {
		flex-grow: 1;
		border-radius: 0 2px 2px 0;
	}
}

.search-block__select-wrap {
	@media (min-width: 992px) {
		min-width: 123px;
		max-width: 123px;
	}
	min-width: 115px;
	max-width: 115px;
	margin-right: -1px;
	&--where {
		@media (min-width: 992px) {
			min-width: 174px;
			max-width: 174px;
		}
	}
}
.search-block__select {
	border-radius: 2px 0 0 2px;
}
.select2-dropdown {
	margin-top: rem(20);
	z-index: 150;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: none;
	padding-bottom: 20px;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #96bf31;
	font-size: 18px;
	padding: 6px 10px;
	@media (min-width: 992px) {
		padding: 6px 20px;
	}
	padding-right: 20px;
	display: block;
	border-radius: 2px 0 0 2px;
	height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
.select2-search--dropdown {
	display: none !important;
}
.select2 {
	li {
		list-style: none;
	}
}

.select2-results__options {
	overflow-x: hidden;
	li {
		margin-left: 0;
		padding: 5px 20px;
		font-size: 18px;
		margin-top: 0;
		white-space: nowrap;
		margin-bottom: 0;
		background-color: transparent !important;
		color: #2f3338;
		&::before {
			display: none;
		}
	}
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	color: $primary;
}

.select2-dropdown {
	width: auto !important;
	background: #ffffff;
	border: none;
	/* 1 */

	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}
.select2-container {
	width: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	padding-right: 0;
}

.theme-block {
	&.active {
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	}
	border-radius: 2px;
	margin-bottom: 15px;
	&__toggle {
		height: 54px;
		cursor: pointer;
		background-image: url(../img/toggle.svg);
		background-repeat: no-repeat;
		background-size: 24px;
		display: flex;
		align-items: center;
		@media (min-width: 992px) {
			background-position: 10px center;
			padding-left: 34px;
		}
		background-position: 0 center;
		padding-left: 24px;
		color: $primary;
		&-inner {
			position: relative;
		}
		.checked {
			border: 0;
			width: 6px;
			height: 6px;
			background-color: $primary;
			border-radius: 50%;
			top: rem(2);
			left: rem(-10);
			display: inline-block;
			position: absolute;
			left: 100%;
		}
		&.active {
			border-bottom: 1px solid #e5e5e5;
			&::after {
				opacity: 1;
			}
			&::before {
				opacity: 0;
			}
		}
		border-bottom: 1px solid transparent;
		// justify-content: space-between;
		padding-right: 20px;
		position: relative;
		&::before {
			content: "";
			@include triangle(8px, $primary, down);
			margin-left: 10px;
			order: 2;
			position: relative;
			top: rem(-3);
		}
		&::after {
			@include a-cent1(y);
			right: 20px;
			content: url(../img/close.svg);
			// right: 20px;
			opacity: 0;
			@include mt;
		}
	}
	&__dropdown {
		display: none;
	}
	&__dropdown-inner {
		max-height: 336px;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		@extend .custom-scroll;
		ul {
			columns: 2;
			@media (min-width: 768px) {
				columns: 3;
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
				columns: 4;
			}
			color: #000000;
		}
		li {
			display: inline-block;
			width: 100%;
		}
		.title {
			padding-left: 8px;
			text-transform: uppercase;
			font-weight: bold;
		}
		border-bottom: 1px solid #e5e5e5;
		padding: rem(30) rem(50);
	}
	&__dropdown-footer {
		color: #f50000;
		font-size: 14px;
		cursor: pointer;
		padding: 15px 17px;
		text-align: right;
	}
}

.theme-input {
	display: block;
	cursor: pointer;
	margin-bottom: 0;
	&__input {
		position: absolute;
		opacity: 0;
	}
	&__text {
		font-size: 18px;
		padding: 2px 8px;
		border: 1px solid transparent;
		// margin-bottom: 5px;
		display: block;
		@include mt;
		border-radius: 3px;
		@include ellips;
		&:hover {
			border-color: $primary;
		}
	}
	&__input:checked ~ &__text {
		background-color: $primary;
		color: #ffffff;
	}
}

.catalog-block {
	&__head {
		border-bottom: 1px solid #eff1f5;
	}
	.select2-container--default {
		max-width: 180px;
	}
	.select2-container--default .select2-selection--single {
		border: none;
	}
}

.catalog-block {
	font-size: 18px;
	padding-bottom: 40px;
	&__head {
		margin-bottom: rem(50);
	}
	table {
		width: 100%;
	}
	th {
		font-size: 11px;
		line-height: 16px;
		/* identical to box height */

		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: #c4c4c4;
	}

	&__caption {
		display: flex;
	}
	&__img-wrap {
		width: 45px;
		flex: 0 0 auto;
		margin-right: 10px;
	}
	td {
		color: rgba(0, 0, 0, 0.7);
		vertical-align: top;
	}
	th,
	td {
		padding-bottom: 10px;
		@media (min-width: 992px) {
			padding-top: 10px;
			&:first-child {
				max-width: 250px;
			}
			&:nth-last-child(1),
			&:nth-last-child(2) {
				text-align: center;
			}
		}
	}
	&__title {
		a {
			color: rgba(0, 0, 0, 0.7);
		}
	}
	&__label {
		font-size: 13px;
		border-radius: 6px;
		@include mt;
		display: inline-block;
		padding: 1px rem(5);
		margin-right: 5px;
		line-height: 1.4;
		&.active {
			background: rgba(150, 191, 49, 0.15);
			color: $primary;
		}
	}
	.btn-outline-primary {
		width: 100%;
	}

	@media (max-width: 991.98px) {
		table {
			display: block;
		}
		thead {
			display: none;
		}
		tbody,
		tr {
			display: block;
		}
		tr {
			padding-bottom: 30px;
			&:not(:last-child) {
				border-bottom: 1px solid #eff1f5;
				margin-bottom: 20px;
			}
		}
		td {
			display: flex;
			padding-bottom: 0;
			align-items: center;
			&::before {
				content: attr(data-title);
				font-size: 11px;
				line-height: (16 / 11);
				/* identical to box height */

				letter-spacing: 0.1em;
				text-transform: uppercase;

				color: #c4c4c4;
				width: 110px;
				margin-right: 20px;
				// padding-top: 10px;
			}
			&:first-child {
				padding-bottom: 10px;
				align-items: flex-start;
				&::before {
					padding-top: 1rem;
				}
			}
			@media (max-width: 575.98px) {
				&:first-child {
					display: block;
				}
			}
		}
	}
}

.btn-outline-primary {
	border-color: $primary;
	// width: 100%;
	color: $primary;
	background: transparent;
	@include mt;
	margin-top: 60px;
	margin-bottom: 20px;
	&:hover {
		background-color: $primary;
	}
}
.catalog-block-pagination {
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	display: flex;
	&__item {
		padding: 10px;
		color: #c4c4c4;
		&--current {
			color: #000000;
		}
	}
}

.screen {
	pointer-events: none;
	background-position: top center;
	left: 0;
	position: absolute;
	height: 4000px;
	width: 100%;
	top: -1017px;
	z-index: 100;
	opacity: 0.7;
	opacity: 0;
	// @include a-cent(x);
}

.section {
	padding: 25px 0;
	@media (max-width: 600px) {
		padding: 15px 0 !important;
	}
}

.description {
	&__title {
		font-size: 30px;
		@media (max-width: 600px) {
			font-size: 26px;
			margin-bottom: 15px;
		}
	}
	&__content {
		font-size: 20px;
		@media (max-width: 600px) {
			margin: 15px 0;
			font-size: 18px;
		}
	}
}

.pages {
	padding-bottom: 55px;
	&__title {
		@media (max-width: 600px) {
			font-size: 26px;
			margin-bottom: 15px;
		}
	}
	&__item {
		display: block;
		filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
		margin-bottom: 25px;
		img {
			width: 100%;
		}
	}
}

.past-years {
	padding: 40px 0;
	background-color: #f8f9fb;

	.slick-arrow {
		--arow-position: 5px;
		@media (min-width: 1530px) {
			--arow-position: -75px;
		}
		--size: 36px;
		@media (min-width: 600px) {
			--size: 42px;
		}
		position: absolute;
		width: var(--size);
		height: var(--size);
		background-color: #96bf31;
		border-radius: 3px;
		border: none;
		z-index: 5;
		top: calc(50% - var(--size) / 2 - 57px / 2);
		background-repeat: no-repeat;
		background-position: center center;
	}

	.slick-prev {
		left: var(--arow-position);
		background-image: url(../img/slick-left.svg);
	}

	.slick-next {
		right: var(--arow-position);
		background-image: url(../img/slick-right.svg);
	}

	.slick-disabled {
		display: none !important;
	}

	&__title {
		@media (max-width: 600px) {
			font-size: 26px;
			margin-bottom: 15px;
		}
	}

	&__img {
		width: 100%;
	}

	&__slide {
		padding: 15px;
	}

	&__items {
		margin: 0 -15px;
	}
	&__item {
		filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
	}
	&__link {
		display: block;
	}
	&__caption {
		text-align: center;
		font-weight: bold;
		font-size: 22px;
		line-height: 32px;
		color: #333333;
		@media (max-width: 600px) {
			margin-top: 15px;
		}
	}
}

.place {
	padding-bottom: 0 !important;
	&__title {
		@media (max-width: 600px) {
			font-size: 26px;
			margin-bottom: 15px;
		}
	}

	&__item {
		position: relative;
		display: block;
		margin-bottom: 25px;
		@media (max-width: 770px) {
			margin-bottom: 5px;
		}
		img {
			width: 100%;
		}
		&::before {
			content: "";
			background-image: url(../img/play.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			width: 21%;
			height: 31%;
			z-index: 3;
			@include a-cent1;
		}
		&::after {
			content: "";
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%;
			height: 100%;
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			@include mt;
		}
		&:hover {
			&::after {
				background: none;
			}
		}
	}
	&__subtitle {
		margin: 0 0 5px 0;
		@media (max-width: 600px) {
			margin-bottom: 0;
			font-size: 20px;
		}
	}
	&__link {
		display: inline-block;
		margin-bottom: 25px;
		@media (max-width: 600px) {
			margin-bottom: 15px;
			font-size: 16px;
		}
	}
}

.description2 {
	z-index: 2;
	position: relative;
	margin: 82px 0;
	padding: 0;
	&__bg {
		@include a-cent;
		z-index: -1;
		background-color: #F8F9FB;
		overflow: hidden;
	}
	&__image {
		position: absolute;
		right: 50px;
		top: -50px;
		max-width: 100%;
		max-height: 125%;
		transform: rotate(15deg);
		opacity: 0.15;
		filter: grayscale(1);
		@media (max-width: 812px) {
			top: 0;
		}
		@media (max-width: 600px) {
			right: 20px;
		}
	}

	@media (max-width: 812px) {
		margin: 30px 0;
	}
	@media (max-width: 600px) {
		margin: 0;
	}

	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-left: 40px;
		@media (max-width: 1031px) {
			padding-left: 0;
			justify-content: center;
		}
	}
	&__text {
		
		max-width: 630px;
		padding-left: 35px;
		color: #333333;
		padding-top: 20px;
		padding-bottom: 20px;
		@media (max-width: 1031px) {
			max-width: 460px;
		}
		@media (max-width: 812px) {
			padding-left: 0;
			max-width: 90%;
		}
		@media (max-width: 500px) {
			max-width: 100%;
		}
		p {
			@media (max-width: 600px) {
				margin: 15px 0;
			}
		}
	}
	&__img {
		
		filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
		margin-top: -52px;
		margin-bottom: -52px;
		@media (max-width: 812px) {
			margin: 20px 0;
		}
		@media (max-width: 600px) {
			margin: 15px 0;
		}
	}
}

.objects {
	&__title {
		@media (max-width: 600px) {
			font-size: 26px;
			margin-bottom: 15px;
		}
	}
	&__items {
		box-sizing: border-box;
	}
	&__item {
		@include mt;
		cursor: pointer;
		border: 1px solid #F1F2F6;
		 .objects__header.active:before {
			background-image: url(../img/shevron-up.svg);
			height: 8px;
			width: 16px;
		}
		&:not(.active):hover {
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
			h6 {
				color: #96bf31;
			}
		}
	}
	&__header {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding: 25px 50px 25px 35px;
		@media (max-width: 600px) {
			padding: 15px 25px 15px 10px;
		}
		h6 {
			font-weight: bold;
			font-size: 22px;
			line-height: 140%;
			color: #333333;
			margin: 0;
			padding-left: 30px;
			@media (max-width: 600px) {
				padding-left: 10px;
				font-size: 15px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			@media (max-width: 600px) {
				right: 7px;
			}
			right: 35px;
			margin-top: auto;
			margin-bottom: auto;
			height: 8px;
			width: 16px;
			background-image: url(../img/shevron-down.svg);
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}

	&__head-img {
		margin-top: auto;
		margin-bottom: auto;
		width: 76px;
		height: 50px;
		object-fit: cover;
		@media (max-width: 600px) {
			width: 54px;
			height: 35px;
		}
	}

	&__content {
		padding: 0 35px 10px 35px;
		@media (max-width: 600px) {
			padding: 0 10px 10px 10px;
		}
		p {
			color: #333333;
			padding: 0;
			font-size: 20px;
			line-height: 140%;
			@media (max-width: 600px) {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
		&:not(.active) {
			display: none;
		}
	}

	&__images {
		a {
			display: block;
			height: calc(100% - 25px);
			margin-bottom: 25px;
			@include block(214 / 140);
			img {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: cover;
			}
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			&::after, &::before {
				display: none;
			}
			@include roww(25px);
			@media (max-width: 600px) {
				@include roww(15px);
			}
		}
	}

}

.op-05{
	opacity: 0.5 !important;
}

.projects_map__head__row{
	@include roww(32px);
	width: calc(100% + var(--bs-gutter-x));
	.col-auto{

	}
}
.row{
	display: flex;
	flex-wrap: wrap;
	@include roww(16px);
	&::before,
	&::after{
		display: none;
	}
}
.projects_map__head__container{
	max-width: none;
	padding-left: 16px;
	padding-right: 16px;
	.btn-group{
		.btn{
			@media (min-width: 1440px) {
			width: 120px;
			}
		}
		.btn-text{
			margin-left: 10px;
			@media (min-width: 1160px){

				display: none;
			}
			@media (min-width: 1440px) {
				display: inline;
			}
		}
	}
}
.projects_map__head__logo{
	text-align: left;
	@media (min-width: 1160px) {

		width: auto;
	}
}
.projects_map__head-btn.btn{
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 42px;
	min-width: 42px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&.active{
		background-color: $primary;
		border-color: $primary;
	}
	&:not(:hover){
		color: #fff;
	}
	&.btn-text{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.tabs-filter{
	.row {
		align-items: center;
	}
	.projects_map__filter{
		margin-right: 0;
	}
	.select2{
		@media (min-width: 992px){

			width: 174px !important;
		}
		width: 100%;
	}
	// .select2-dropdown{
	// 	width: 174px !important;
	// }
}
.tabs-filter__content{
	.select2-container--default .select2-selection--single{
		border-color: #fff;
		border-right-color: #C4C4C4;
	}
	&:not(.active) {
		display: none;
	}
}
.tabs-filter__btn{
	cursor: pointer;
	@include mt;
	color: #fff;
	&:hover{
		color: $primary;
	}
}
.projects_map__head__col2{
	// display: block;
	.row{
		flex-grow: 1;
	}
}
.projects_map__head__col2,
.col,
.projects_map__head__col{
	// flex-grow: 1;
	flex: 1 0 0%;
}

.projects_map__search{
	width: 504px;
	@media (min-width: 1440px){

		width: 574px;
	}
	// (100%, 574px);
}

.select-wrap{
	position: relative;
}

.btn.btn-transparent{
	&:not(:hover) {
		border-color:$primary;
	}
}

.projects_map_popup__btn{
	border-color: $primary;
	&:hover{
		background-color: $primary;
		border-color: $primary;
	}
}
.col-place{
	span{
		margin-left: 10px;
		@media (min-width: 1160px){
			display: none;
		}
	}
	
}
@media (min-width: 1160px){
	.col-tab-btns{
		display: none;
	}
}
@media (max-width: 1160px){
	.tabs-filter__btn{
		display: none;
	}
	.projects_map__head__col2{
		padding-top: 0;
	}
	
	.col-mob-100{
		width: 100%;
		padding-top: 16px;
		padding-bottom: 16px;
		position: relative; 
		// border-bottom: 1px solid rgba(255, 255, 255, 0.25);
		&::before{
			content: '';
			width: 120vw;
			left: -10vw;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.25);
			position: absolute;
			bottom: 0;
		}
		.btn{
			width: 100%;
		}
	}
	.col-cities{

		order: -1;
	}
	.col-place{
		order: 3;
		padding-bottom: 0;
		&::before{
			display: none;
			padding-bottom: 0;
		}
	}
	.col-btns{
		&--view{

			order: -1;
		}
		.btn-group{
			display: flex;
			.btn{
				width: 50%;
			}
		}
		.btn-text{
			display: block;
		}
	}
	.projects_map__head__col{
		padding-top: 16px;
		padding-bottom: 1px;
	}
	.tabs-filter__content{
		.col-auto{
			width: 100%;
		}
	}
	.projects_map__search{
		width: 100%;
		display: block;
	}
	.projects_map__search{
		margin-bottom: 0;
	}
	.projects_map__head__col{
		position: relative;
		padding-bottom: 16px;
		&::before{
			content: '';
			width: 120vw;
			left: -10vw;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.25);
			position: absolute;
			bottom: 0;
		}
	}
	.col-tab-btns{
		padding-bottom: 0;
		&::before{
			display: none;
		}
	}
}


@media (max-width: 992px){
	.projects_map__head__col{

	}
	.projects_map__search__form{
		display: block;
		.select-wrap{
			margin-bottom: 8px;
		}
	}
}

.btn-more{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0;
	z-index: 5;
	border-left: none;
	border-right: none;
	border-bottom: none;
	&:not(:hover){
		background: #2F3338;
	}
}
.projects_map_popup__content{
	overflow-y: auto;
	position: relative;
	padding-bottom: 45px;
}


.projects_map_popup{
	overflow: hidden;
}
.projects_map_popup__content::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
}

.projects_map_popup__content::-webkit-scrollbar-track {
	background-color:#ecedee
}

.projects_map_popup__content::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#96BF31;
}

.projects_map_popup__content::-webkit-scrollbar-thumb:hover{
	background-color:#96BF31;
}

.projects_map_popup__content::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

.projects_map_popup__content::-webkit-scrollbar{
	width: 4px;
}


.list-view-section{
	.tabs_type_filter{

	}
}




.list-view-section{
  padding-top: 80px;
  max-width: 1037px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  .tabs_type_filter__item{
    // flex-grow: 1;
		text-align: center;
		width: calc(50% - 6px);
		padding-left: 2px;
		padding-right: 2px;
  }
}


// .projects_map_popup__address {
//   font-size: 18px;
//   line-height: 1.35;
//   background-image: url(images/projects-map/Union.svg);
//   background-repeat: no-repeat;
//   background-position: 0 50%;
//   padding-left: 26px;
//   position: relative;
// }
.list-view-section-group{
  margin-bottom: 23px;
  &__title{
    display: flex;
    align-items: center;
    font-size: 38px;
    color: #2F3338;
    font-weight: bold;
    margin-bottom: 21px;
    img{
      margin-right: 19px;
    }
  }
}

.list-view-section-item{
  margin-bottom: 30px;
  &__img-wrap{
    @include block(490, 300);
    margin-bottom: 20px;
    img{
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;

    }
  }
  a.d-block{
    &:not(:hover){
      color: #2F3338;
    }
    &:hover{
      color: $primary;
    }
  }
	.projects_map_popup__info__item__pic__text{
		@include mt;
	}
	.projects_map_popup__info__item__val{
		&:hover .projects_map_popup__info__item__pic__text{
			color: $primary !important;
		}
	}
  &__title{
    font-size: 26px;
    margin-bottom: 4px;
    &--lg{
      font-weight: bold;
    }
  }
  .projects_map_popup__address{
    color: #2F3338;
    margin-bottom: 20px;
    display: block;
  }
  .projects_map_popup__info__item__pic__text{
    color: #2F3338;

  }
}

.row--persons{
	@include roww(0);
	.list-view-section-item{
		padding: 20px 20px;
		@media (min-width: 992px){

			padding: 20px 30px;
			padding-right: 40px;
		}
		margin-bottom: 0;
		min-height: 100%;
		margin-top: -1px;
		margin-right: -1px;
		// background-color: #fff;
		border: 1px solid #E5E5E5;
		&:hover{
			@include mt;
			z-index: 4;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
			.projects_map_popup__info__item__pic__text{
				color: $primary;
			}
		}

	}
	.projects_map_popup__info__item__pic__text{
		max-width: 300px;
	}
	.projects_map_popup__info__item__pic{
		@media (min-width: 992px){
			width: 100px;
			height: 100px;
		}
		width: 60px;
		height: 60px;
	}
	.projects_map_popup__info__item__val{
		align-items: center;
		font-weight: bold;
		font-size: 22px;
		 
	}
}


.page-top-icon-wrap{

}

.projects_map__detail__pre_head{
	position: relative;
}
.page-top--icon-wrap{

	@media (min-width: 1160px){

		position: absolute;
		right: 16px;
		top: calc(50% );
		transform: translateY(-50%);
	}
}

.projects_map__detail__info{
	
}

.video-block{
	@include block(1000, 600);
	display: block;
	margin-bottom: 40px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	&::before{

	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;top: 0;
		z-index: -1;
	}
	&::after{
		content: '';
		width: 96px;
		height: 96px;
		@include a-cent;
		background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' viewBox='0 0 96 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48' cy='48' r='47' stroke='white' stroke-width='2'/%3E%3Cpath d='M70 48L37 67.0526L37 28.9474L70 48Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}

.projects_map__detail__text{
	.projects_map__detail__slider__wrap{
		margin-bottom: 60px;
	}	
	.projects_map__detail__slider{
		margin-bottom: 25px;
	}
	.projects_map__detail__slider__footer{
		padding-left: 0;
		color: #333333;
		background-color: #fff;
	}
	
}
.projects_map__detail__text{

	.font_upper_md.add_review_icon{
		display: block;
		margin-top: 30px;
		.animate-load{
			display: block;
			
			span{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
				width: 100%;

			}
			svg{
				margin-right: 10px;
			}
		}
	}

	.btn-wrap{
		@include roww(20px, m);
		display: flex;
		justify-content: center;
		.btn{
			width: 220px;
			padding: rem(20) 14px;
			height: 62px;
			[stroke] {
				stroke: currentColor !important;
			}
			svg{
				margin-right: 10px;
			}
			&:not(:hover){

				color: $body-color;
			}
		}
	}
}


.item--fancybox{
	display: block;
	@include block(2,3);
	margin-bottom: var(--bs-gutter-x);
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}
.all-gal-link{
	position: relative;
	span{
		position: static;
	}
}

.container{
	.maxwidth-theme{
		.projects_map_helper__content{

			padding-left: 0;
			padding-right: 0;
		}
	}
}

.page-top--icon-wrap{
	.svg-print{
		background: none !important;
	}
}
@media (min-width: 1160px){

	.projects_map__detail__pre_head{
		padding-left: 75px;
		padding-right: 75px;
	}
}