doctype html
html(xmlns='http://www.w3.org/1999/xhtml' lang='ru')
	// Mirrored from muzeydela.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Dec 2020 08:26:51 GMT
	// Added by HTTrack
	head
		meta(http-equiv='content-type' content='text/html;charset=UTF-8')
		// /Added by HTTrack
		title Музей предпринимателей, меценатов и благотворителей
		meta(name='viewport' content='initial-scale=1.0, width=device-width')
		meta(name='HandheldFriendly' content='true')
		meta(name='yes' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(name='SKYPE_TOOLBAR' content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='keywords' content='Музей предпринимателей, меценатов и благотворителей')
		meta(name='description' content='Музей предпринимателей, меценатов и благотворителей')
		link(href='bitrix/js/main/core/css/core95bf.css?15339002803963' type='text/css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,500,600,700,800&subset=latin,cyrillic-ext' type='text/css' rel='stylesheet')
		link(href='bitrix/cache/css/s1/aspro-priority/template_f37161d4f845a445b7641c22b66fb285/template_f37161d4f845a445b7641c22b66fb285_v14649.css?16012820881023691' type='text/css' data-template-style='true' rel='stylesheet')
	 
		link(rel='shortcut icon' href='favicon6ac7.ico?1571245994' type='image/x-icon')
		link(rel='apple-touch-icon' sizes='180x180' href='upload/CPriority/2b7/2b752ce515b8a82921f18bd0f030b223.png')
		meta(property='og:title' content='Музей предпринимателей, меценатов и благотворителей')
		meta(property='og:type' content='website')
		meta(property='og:image' content='/logo.svg')
		link(rel='image_src' href='logo.html')
		meta(property='og:url' content='/')
		meta(property='og:description' content='Музей предпринимателей, меценатов и благотворителей')
		 
		link(rel='stylesheet' href='bitrix/templates/aspro-priority/add_onc0bd.css?v=710')

		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
		link(rel='stylesheet' href='bitrix/templates/aspro-priority/vendor/slick-1.8.1/slick/slick.css')
		link(rel='stylesheet' href='css/style.css')
		
	body.regionality_n.mheader-v1.footer-v1.fill_bg_.title-v1.with_phones.wheader_v3.in_index
		.screen(style="background-image: url(screen.jpg);")
		// 'end_frame_cache_options-block'
		.cd-modal-bg
		.mega_fixed_menu
			.maxwidth-theme
				svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
					path(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
				.row
					.col-md-9
						.left_block
							i.svg.svg-close.mask.arrow
							.logo
								a(href='index.html')
									img(src='upload/CPriority/ef8/ef8efb171c6943754c0f9feac554d148.jpg' alt='Muzeydela.ru' title='Muzeydela.ru')
							.search-wrapper
								#title-search_mega_menu
									form.search(action='https://muzeydela.ru/search/')
										.search-input-div
											input#title-search-input_mega_menu.search-input(type='text' name='q' value='' placeholder='Поиск' autocomplete='off')
										.search-button-div
											button.btn.btn-search(type='submit' name='s' value='Поиск')
												i.svg.svg-search.mask
 
							.menu-only
								nav.mega-menu
									.table-menu
										.marker-nav
										table
											tbody
												tr
													td.menu-item.unvisible.dropdown
														.wrap
															a.dark-color.dropdown-toggle(href='o-muzee/index.html')
																| О музее
																.line-wrapper
																	span.line
															span.tail
															ul.dropdown-menu
																li.
																	a(href='o-muzee/index-2.html' title='История музея') История музея
																li.
																	a(href='o-muzee/staff/index.html' title='О ком наш музей') О ком наш музей
																li.dropdown-submenu
																	a(href='o-muzee/chranitel-muzeja/index.html' title='Хранитель музея')
																		| Хранитель музея
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='o-muzee/chranitel-muzeja/interview/index.html' title='Интервью') Интервью
																		li.
																			a(href='o-muzee/chranitel-muzeja/lektsii/index.html' title='Лекции') Лекции
																		li.
																			a(href='o-muzee/chranitel-muzeja/stati/index.html' title='Статьи') Статьи
																		li.
																			a(href='o-muzee/chranitel-muzeja/kniga/index.html' title='Книга') Книга
																li.
																	a(href='o-muzee/missiya-i-zadachi/index.html' title='Миссия и задачи') Миссия и задачи
																li.
																	a(href='o-muzee/ekspozitsiya/index.html' title='Экспозиция') Экспозиция
																li.
																	a(href='o-muzee/otzyvy-o-muzee/index.html' title='Отзывы о музее') Отзывы о музее
																li.
																	a(href='novosti/index.html' title='Новости') Новости
																li.
																	a(href='o-muzee/kontakty/index.html' title='Контакты') Контакты
													td.menu-item.unvisible
														.wrap
															a.dark-color(href='proekty-muzeya/index.html')
																| Проекты										
																.line-wrapper
																	span.line
													td.menu-item.unvisible.dropdown
														.wrap
															a.dark-color.dropdown-toggle(href='posetitelyam/index.html')
																| Посетителям										
																.line-wrapper
																	span.line
															span.tail
															ul.dropdown-menu
																li.
																	a(href='posetitelyam/ehkskursii-v-muzee/index.html' title='Экскурсии в музее') Экскурсии в музее
																li.
																	a(href='posetitelyam/peshekhodnye-ehkskursii/index.html' title='Пешеходные экскурсии') Пешеходные экскурсии
																li.dropdown-submenu
																	a(href='posetitelyam/muzej-detyam/index.html' title='Музей детям')
																		| Музей детям
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='posetitelyam/muzej-detyam/interaktivnye-programmy/index.html' title='Интерактивные программы') Интерактивные программы
																		li.
																			a(href='posetitelyam/muzej-detyam/peshekhodnye-ehkskursii-detyam/index.html' title='Пешеходные экскурсии детям') Пешеходные экскурсии детям
																		li.
																			a(href='posetitelyam/muzej-detyam/prazdniki-v-muzee/index.html' title='Праздники в музее') Праздники в музее
																li.
																	a(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html' title='Цены и правила посещения') Цены и правила посещения
													td.menu-item.unvisible.dropdown
														.wrap
															a.dark-color.dropdown-toggle(href='predprinimatelyam/index.html')
																| Предпринимателям										
																.line-wrapper
																	span.line
															span.tail
															ul.dropdown-menu
																li.
																	a(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html' title='Экскурсии') Экскурсии
																li.
																	a(href='predprinimatelyam/uslugi-predprenimatelyam/index.html' title='Услуги') Услуги
													td.menu-item.unvisible.dropdown
														.wrap
															a.dark-color.dropdown-toggle(href='organizatsiyam/index.html')
																| Организациям										
																.line-wrapper
																	span.line
															span.tail
															ul.dropdown-menu
																li.dropdown-submenu
																	a(href='organizatsiyam/shkolam/index.html' title='Школам')
																		| Школам
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/shkolam/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/shkolam/uslugi/index.html' title='Услуги') Услуги
																li.dropdown-submenu
																	a(href='organizatsiyam/vuzam/index.html' title='ВУЗам')
																		| ВУЗам
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/vuzam/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/vuzam/uslugi/index.html' title='Услуги') Услуги
																li.dropdown-submenu
																	a(href='organizatsiyam/predpriyatiyam/index.html' title='Предприятиям')
																		| Предприятиям
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/predpriyatiyam/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/predpriyatiyam/uslugi/index.html' title='Услуги') Услуги
																li.dropdown-submenu
																	a(href='organizatsiyam/finansovym-organizatsiyam/index.html' title='Финансовым организациям')
																		| Финансовым организациям
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/finansovym-organizatsiyam/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/finansovym-organizatsiyam/uslugi/index.html' title='Услуги') Услуги
																li.dropdown-submenu
																	a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html' title='Благотворительным организациям')
																		| Благотворительным организациям
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/uslugi/index.html' title='Услуги') Услуги
																li.dropdown-submenu
																	a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html' title='Центрам социального обслуживания')
																		| Центрам социального обслуживания
																		span.arrow
																			i
																	ul.dropdown-menu
																		li.
																			a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/ehkskursii/index.html' title='Экскурсии') Экскурсии
																		li.
																			a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/uslugi/index.html' title='Услуги') Услуги
													td.menu-item.unvisible
														.wrap
															a.dark-color(href='sobytiya/index.html')
																| Афиша										
																.line-wrapper
																	span.line
													td.dropdown.js-dropdown.nosave.unvisible
														.wrap
															a.dropdown-toggle.more-items(href='#')
																span Ещё
															span.tail
															ul.dropdown-menu
					.col-md-3
						.right_block
							.top_block
								.button
									span.btn.btn-default.btn-lg.animate-load(data-event='jqm' data-param-id='20' data-name='question') Задать вопрос
								.wrap_icon.wrap_cabinet.font_upper_md.wtorder
									a.personal-link.dark-color.animate-load(data-event='jqm' data-param-type='auth' data-param-backurl='/' data-name='auth' href='cabinet/index.html')
										svg.svg.svg-cabinet(width='18' height='18' viewBox='0 0 18 18')
											path.cls-1(data-name='Ellipse 206 copy 4' d='M909,961a9,9,0,1,1,9-9A9,9,0,0,1,909,961Zm2.571-2.5a6.825,6.825,0,0,0-5.126,0A6.825,6.825,0,0,0,911.571,958.5ZM909,945a6.973,6.973,0,0,0-4.556,12.275,8.787,8.787,0,0,1,9.114,0A6.973,6.973,0,0,0,909,945Zm0,10a4,4,0,1,1,4-4A4,4,0,0,1,909,955Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,909,949Z' transform='translate(-900 -943)')
										span.title Личный кабинет
								.wrap_icon.wrap_basket.font_upper_md
							.contact_wrap
								.info
									.phone.blocks
										div
											.phone
												.wrap
													div
														svg.svg.svg-phone.white.sm(width='5' height='13' viewBox='0 0 5 13')
															path.cls-phone(d='M785.738,193.457a22.174,22.174,0,0,0,1.136,2.041,0.62,0.62,0,0,1-.144.869l-0.3.3a0.908,0.908,0,0,1-.805.33,4.014,4.014,0,0,1-1.491-.274c-1.2-.679-1.657-2.35-1.9-3.664a13.4,13.4,0,0,1,.024-5.081c0.255-1.316.73-2.991,1.935-3.685a4.025,4.025,0,0,1,1.493-.288,0.888,0.888,0,0,1,.8.322l0.3,0.3a0.634,0.634,0,0,1,.113.875c-0.454.8-.788,1.37-1.132,2.045-0.143.28-.266,0.258-0.557,0.214l-0.468-.072a0.532,0.532,0,0,0-.7.366,8.047,8.047,0,0,0-.023,4.909,0.521,0.521,0,0,0,.7.358l0.468-.075c0.291-.048.4-0.066,0.555,0.207h0Z' transform='translate(-782 -184)')
														a(href='tel:+74992375349') +7 (499) 237-5349 
									.email.blocks
										a(href='mailto:info@muzeydela.ru')
											span info@muzeydela.ru
									.address.blocks
										| Москва, ул. Донская, д. 9
							.social-block
								.social-icons
									// noindex
									ul
										li.vk
											a(href='https://vk.com/muzeydela' target='_blank' rel='nofollow' title='Вконтакте')
												| Вконтакте
										li.facebook
											a(href='https://www.facebook.com/muzeydela' target='_blank' rel='nofollow' title='Facebook')
												| Facebook
										li.twitter
											a(href='https://twitter.com/muzeydela' target='_blank' rel='nofollow' title='Twitter')
												| Twitter
										li.instagram
											a(href='https://www.instagram.com/muzeydela/' target='_blank' rel='nofollow' title='Instagram')
												| Instagram
										li.livejournal
											a(href='https://muzeydela.livejournal.com/' target='_blank' rel='nofollow' title='Livejournal')
												| Livejournal
										li.yandex
											a(href='https://zen.yandex.ru/id/5c178acdc6ce5f00ad213d05' target='_blank' rel='nofollow' title='Яндекс.Zen')
												| Яндекс.Zen
									// /noindex
		.header_wrap.visible-lg.visible-md.title-v1.index
			.header_menu__holder
			.header_menu.header_menu_wholder
				.container.header_menu_container
					.maxwidth-theme
						.row
							.col-sm-3
								.header_menu__logo
									a(href='index.html')
										img(src='upload/CPriority/ef8/ef8efb171c6943754c0f9feac554d148.jpg' alt='Muzeydela.ru' title='Muzeydela.ru')
							.col-sm-9
								.header_menu__header__align_items
									.header_menu__header__colr
										.header_menu__header__colr__row
											.header_menu__phones
												.header_menu__address
													| Москва, ул. Донская, 9
												.header_menu__phone
													| +7 (499) 237-53-49
										.header_menu__header__colr__row.header_menu__header__colr__row__last
											.header_top_menu
												.header_top_menu__item
													a.header_top_menu__item__link(href='o-muzee/index.html')
														| О музее
													.header_top_menu__bigchild
														.header_top_menu__bigchild__inner
															.container
																.row
																	.col-sm-12
																		.maxwidth-theme
																			.row
																				.col-sm-3
																					.mega_fixed_menu2__title
																						| О музее
																				.col-sm-2
																					.mega_fixed_menu2
																						.mega_fixed_menu2__item
																							a(href='o-muzee/index-2.html') История музея
																						.mega_fixed_menu2__item
																							a(href='o-muzee/staff/index.html') О ком наш музей
																						.mega_fixed_menu2__item
																							a(href='o-muzee/chranitel-muzeja/index.html') Хранитель музея
																						.mega_fixed_menu2__item
																							a(href='o-muzee/missiya-i-zadachi/index.html') Миссия и задачи
																						.mega_fixed_menu2__item
																							a(href='o-muzee/ekspozitsiya/index.html') Экспозиция
																						.mega_fixed_menu2__item
																							a(href='o-muzee/otzyvy-o-muzee/index.html') Отзывы о музее
																						.mega_fixed_menu2__item
																							a(href='novosti/index.html') Новости
																						.mega_fixed_menu2__item
																							a(href='o-muzee/kontakty/index.html') Контакты
																				.col-sm-2
																					.mega_fixed_menu2__address
																						.mega_fixed_menu2__address__title
																							| адрес
																						.mega_fixed_menu2__address__value
																							| г. Москва, ул. Донская, 9
																						.mega_fixed_menu2__address__title
																							| Режим работы
																						.mega_fixed_menu2__address__title__subsmall
																							| Для свободного посещения
																						.mega_fixed_menu2__address__value__fx
																							.mega_fixed_menu2__address__value__fx__row.mega_fixed_menu2__address__black
																								.mega_fixed_menu2__address__value__fx__col1
																									| вт.-пт.
																								.mega_fixed_menu2__address__value__fx__col2
																									| 13:00 - 19:00
																							.mega_fixed_menu2__address__value__fx__row.mega_fixed_menu2__address__black
																								.mega_fixed_menu2__address__value__fx__col1
																									| сб.
																								.mega_fixed_menu2__address__value__fx__col2
																									| 12:00 - 16:00
																							.mega_fixed_menu2__address__value__fx__row.mega_fixed_menu2__address__black
																								.mega_fixed_menu2__address__value__fx__col1
																									| пн, вс.
																								.mega_fixed_menu2__address__value__fx__col2
																									| выходной
																						.mega_fixed_menu2__address__title__subsmall
																							| Экскурсии и мероприятия проводятся по заказу в любой день
																						.mega_fixed_menu2__address__title
																							| Телефоны
																						.mega_fixed_menu2__address__value
																							a.mega_fixed_menu2__address__value__color(href='tel:+74992375349') +7 (499) 237-53-49
																						.mega_fixed_menu2__address__title
																							| Электронная почта
																						.mega_fixed_menu2__address__value
																							a.mega_fixed_menu2__address__value__color(href='mailto:info@muzeydela.ru') info@muzeydela.ru
																				.col-sm-5
																					.mega_fixed_menu__big_img
																						img(src='upload/iblock/688/6888d6ac5af008682d061082274b0a7c.png' alt='')
												.header_top_menu__item
													a.header_top_menu__item__link(href='proekty-muzeya/index.html')
														| Проекты
												.header_top_menu__item
													a.header_top_menu__item__link(href='posetitelyam/index.html')
														| Посетителям
													.header_top_menu__child
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='posetitelyam/ehkskursii-v-muzee/index.html')
																| Экскурсии в музее
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='posetitelyam/peshekhodnye-ehkskursii/index.html')
																| Пешеходные экскурсии
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='posetitelyam/muzej-detyam/index.html')
																| Музей детям
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html')
																| Цены и правила посещения
												.header_top_menu__item
													a.header_top_menu__item__link(href='predprinimatelyam/index.html')
														| Предпринимателям
													.header_top_menu__child
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html')
																| Экскурсии
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='predprinimatelyam/uslugi-predprenimatelyam/index.html')
																| Услуги
												.header_top_menu__item
													a.header_top_menu__item__link(href='organizatsiyam/index.html')
														| Организациям
													.header_top_menu__child
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/shkolam/index.html')
																| Школам
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/vuzam/index.html')
																| ВУЗам
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/predpriyatiyam/index.html')
																| Предприятиям
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/finansovym-organizatsiyam/index.html')
																| Финансовым организациям
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html')
																| Благотворительным организациям
														.header_top_menu__child__item
															a.header_top_menu__child__item__link(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html')
																| Центрам социального обслуживания
												.header_top_menu__item
													a.header_top_menu__item__link(href='sobytiya/index.html')
														| Афиша
											a.header_top_menu__search.inline-search-show(href='#')
		
		#headerfixed
			.maxwidth-theme
				.logo-row.v2.fixed_row_3
					.row
						.logo-block.col-md-2
							.burger.pull-left
								svg.svg.svg-burger(width='16' height='12' viewBox='0 0 16 12')
									path.cls-1(data-name='Rounded Rectangle 81 copy 4' d='M872,958h-8a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1h0A1,1,0,0,1,872,958Zm6-5H864a1,1,0,0,1,0-2h14A1,1,0,0,1,878,953Zm0-5H864a1,1,0,0,1,0-2h14A1,1,0,0,1,878,948Z' transform='translate(-863 -946)')
								svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
									path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
							.logo
								a(href='index.html')
									img(src='upload/CPriority/ef8/ef8efb171c6943754c0f9feac554d148.jpg' alt='Muzeydela.ru' title='Muzeydela.ru')
						.col-md-8.menu-block.navs.js-nav
							.menu-only.catalog_icons_Y.icons_position_.view_type_BLOCK.count_menu_wide_count_3
								nav.mega-menu.sliced
									.table-menu
										.marker-nav
										table
											tbody
												tr
													td.menu-item.unvisible.normal_dropdown.dropdown
														.wrap
															a.font_xs.dark-color.dropdown-toggle(href='o-muzee/index.html')
																span О музее
															span.tail
															ul.dropdown-menu
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/index-2.html' title='История музея') История музея
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/staff/index.html' title='О ком наш музей') О ком наш музей
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='o-muzee/chranitel-muzeja/index.html' title='Хранитель музея')
																			| Хранитель музея
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='o-muzee/chranitel-muzeja/interview/index.html' title='Интервью')
																					span Интервью
																			li.
																				a(href='o-muzee/chranitel-muzeja/lektsii/index.html' title='Лекции')
																					span Лекции
																			li.
																				a(href='o-muzee/chranitel-muzeja/stati/index.html' title='Статьи')
																					span Статьи
																			li.
																				a(href='o-muzee/chranitel-muzeja/kniga/index.html' title='Книга')
																					span Книга
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/missiya-i-zadachi/index.html' title='Миссия и задачи') Миссия и задачи
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/ekspozitsiya/index.html' title='Экспозиция') Экспозиция
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/otzyvy-o-muzee/index.html' title='Отзывы о музее') Отзывы о музее
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='novosti/index.html' title='Новости') Новости
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='o-muzee/kontakty/index.html' title='Контакты') Контакты
													td.menu-item.unvisible.normal_dropdown
														.wrap
															a.font_xs.dark-color(href='proekty-muzeya/index.html')
																span Проекты
													td.menu-item.unvisible.full_dropdown.dropdown
														.wrap
															a.font_xs.dark-color.dropdown-toggle(href='posetitelyam/index.html')
																span Посетителям
															span.tail
															ul.dropdown-menu
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='posetitelyam/ehkskursii-v-muzee/index.html' title='Экскурсии в музее') Экскурсии в музее
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='posetitelyam/peshekhodnye-ehkskursii/index.html' title='Пешеходные экскурсии') Пешеходные экскурсии
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='posetitelyam/muzej-detyam/index.html' title='Музей детям')
																			| Музей детям
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='posetitelyam/muzej-detyam/interaktivnye-programmy/index.html' title='Интерактивные программы')
																					span Интерактивные программы
																			li.
																				a(href='posetitelyam/muzej-detyam/peshekhodnye-ehkskursii-detyam/index.html' title='Пешеходные экскурсии детям')
																					span Пешеходные экскурсии детям
																			li.
																				a(href='posetitelyam/muzej-detyam/prazdniki-v-muzee/index.html' title='Праздники в музее')
																					span Праздники в музее
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html' title='Цены и правила посещения') Цены и правила посещения
													td.menu-item.unvisible.normal_dropdown.dropdown
														.wrap
															a.font_xs.dark-color.dropdown-toggle(href='predprinimatelyam/index.html')
																span Предпринимателям
															span.tail
															ul.dropdown-menu
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html' title='Экскурсии') Экскурсии
																li.item.clearfix
																	.menu_body
																		a.dark-color(href='predprinimatelyam/uslugi-predprenimatelyam/index.html' title='Услуги') Услуги
													td.menu-item.unvisible.normal_dropdown.dropdown
														.wrap
															a.font_xs.dark-color.dropdown-toggle(href='organizatsiyam/index.html')
																span Организациям
															span.tail
															ul.dropdown-menu
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/shkolam/index.html' title='Школам')
																			| Школам
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/shkolam/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/shkolam/uslugi/index.html' title='Услуги')
																					span Услуги
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/vuzam/index.html' title='ВУЗам')
																			| ВУЗам
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/vuzam/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/vuzam/uslugi/index.html' title='Услуги')
																					span Услуги
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/predpriyatiyam/index.html' title='Предприятиям')
																			| Предприятиям
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/predpriyatiyam/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/predpriyatiyam/uslugi/index.html' title='Услуги')
																					span Услуги
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/finansovym-organizatsiyam/index.html' title='Финансовым организациям')
																			| Финансовым организациям
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/finansovym-organizatsiyam/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/finansovym-organizatsiyam/uslugi/index.html' title='Услуги')
																					span Услуги
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html' title='Благотворительным организациям')
																			| Благотворительным организациям
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/uslugi/index.html' title='Услуги')
																					span Услуги
																li.item.clearfix.dropdown-submenu
																	.menu_body
																		a.dark-color(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html' title='Центрам социального обслуживания')
																			| Центрам социального обслуживания
																			span.arrow
																				i
																		ul.dropdown-menu
																			li.
																				a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/ehkskursii/index.html' title='Экскурсии')
																					span Экскурсии
																			li.
																				a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/uslugi/index.html' title='Услуги')
																					span Услуги
													td.menu-item.unvisible.normal_dropdown.last_item
														.wrap
															a.font_xs.dark-color(href='sobytiya/index.html')
																span Афиша
													td.dropdown.normal_dropdown.js-dropdown.nosave.unvisible
														.wrap
															a.dropdown-toggle.more-items(href='#')
															span.tail
															ul.dropdown-menu
						.right_wrap.col-md-2.pull-right
							.right-icons
								.pull-right
									.wrap_icon
										button.top-btn.inline-search-show
											svg.svg.svg-search(width='17' height='17' viewBox='0 0 17 17' aria-hidden='true')
												path.cls-1(d='M16.709,16.719a1,1,0,0,1-1.412,0l-3.256-3.287A7.475,7.475,0,1,1,15,7.5a7.433,7.433,0,0,1-1.549,4.518l3.258,3.289A1,1,0,0,1,16.709,16.719ZM7.5,2A5.5,5.5,0,1,0,13,7.5,5.5,5.5,0,0,0,7.5,2Z')
											span.title
		#mobileheader.visible-xs.visible-sm
			.mobileheader-v1
				.burger.pull-left
					svg.svg.svg-burger(width='16' height='12' viewBox='0 0 16 12')
						path.cls-1(data-name='Rounded Rectangle 81 copy 4' d='M872,958h-8a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1h0A1,1,0,0,1,872,958Zm6-5H864a1,1,0,0,1,0-2h14A1,1,0,0,1,878,953Zm0-5H864a1,1,0,0,1,0-2h14A1,1,0,0,1,878,948Z' transform='translate(-863 -946)')
					svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
						path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
				.logo-block.pull-left
					.logo
						a(href='index.html')
							img(src='upload/CPriority/ef8/ef8efb171c6943754c0f9feac554d148.jpg' alt='Muzeydela.ru' title='Muzeydela.ru')
				.right-icons.pull-right
					.pull-right
						.wrap_icon.wrap_basket
					.pull-right
						.wrap_icon
							button.top-btn.inline-search-show
								svg.svg.svg-search(width='17' height='17' viewBox='0 0 17 17' aria-hidden='true')
									path.cls-1(d='M16.709,16.719a1,1,0,0,1-1.412,0l-3.256-3.287A7.475,7.475,0,1,1,15,7.5a7.433,7.433,0,0,1-1.549,4.518l3.258,3.289A1,1,0,0,1,16.709,16.719ZM7.5,2A5.5,5.5,0,1,0,13,7.5,5.5,5.5,0,0,0,7.5,2Z')
								span.title
			#mobilemenu.leftside.LIGHT
				.mobilemenu-v1.scroller.menu_open_v_1
					.wrap
						.wrapper_rel
							svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
								path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
							.logo
								a(href='index.html')
									img(src='upload/CPriority/ef8/ef8efb171c6943754c0f9feac554d148.jpg' alt='Muzeydela.ru' title='Muzeydela.ru')
							.menu.top
								ul.top
									li
										a.dark-color.parent(href='o-muzee/index.html' title='О музее')
											span О музее
											span.arrow
												svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
													path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
										ul.dropdown
											li
												svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
													path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
											li.menu_back
												a.dark-color(href='#' rel='nofollow')
													svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
														path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
													| 								Назад
											li.menu_title
												a.dark-color(href='o-muzee/index.html') О музее
											li
												a.dark-color(href='o-muzee/index-2.html' title='История музея')
													span История музея
											li
												a.dark-color(href='o-muzee/staff/index.html' title='О ком наш музей')
													span О ком наш музей
											li
												a.dark-color.parent(href='o-muzee/chranitel-muzeja/index.html' title='Хранитель музея')
													span Хранитель музея
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='o-muzee/chranitel-muzeja/index.html') Хранитель музея
													li
														a.dark-color(href='o-muzee/chranitel-muzeja/interview/index.html' title='Интервью')
															span Интервью
													li
														a.dark-color(href='o-muzee/chranitel-muzeja/lektsii/index.html' title='Лекции')
															span Лекции
													li
														a.dark-color(href='o-muzee/chranitel-muzeja/stati/index.html' title='Статьи')
															span Статьи
													li
														a.dark-color(href='o-muzee/chranitel-muzeja/kniga/index.html' title='Книга')
															span Книга
											li
												a.dark-color(href='o-muzee/missiya-i-zadachi/index.html' title='Миссия и задачи')
													span Миссия и задачи
											li
												a.dark-color(href='o-muzee/ekspozitsiya/index.html' title='Экспозиция')
													span Экспозиция
											li
												a.dark-color(href='o-muzee/otzyvy-o-muzee/index.html' title='Отзывы о музее')
													span Отзывы о музее
											li
												a.dark-color(href='novosti/index.html' title='Новости')
													span Новости
											li
												a.dark-color(href='o-muzee/kontakty/index.html' title='Контакты')
													span Контакты
									li
										a.dark-color(href='proekty-muzeya/index.html' title='Проекты')
											span Проекты
									li
										a.dark-color.parent(href='posetitelyam/index.html' title='Посетителям')
											span Посетителям
											span.arrow
												svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
													path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
										ul.dropdown
											li
												svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
													path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
											li.menu_back
												a.dark-color(href='#' rel='nofollow')
													svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
														path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
													| 								Назад
											li.menu_title
												a.dark-color(href='posetitelyam/index.html') Посетителям
											li
												a.dark-color(href='posetitelyam/ehkskursii-v-muzee/index.html' title='Экскурсии в музее')
													span Экскурсии в музее
											li
												a.dark-color(href='posetitelyam/peshekhodnye-ehkskursii/index.html' title='Пешеходные экскурсии')
													span Пешеходные экскурсии
											li
												a.dark-color.parent(href='posetitelyam/muzej-detyam/index.html' title='Музей детям')
													span Музей детям
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='posetitelyam/muzej-detyam/index.html') Музей детям
													li
														a.dark-color(href='posetitelyam/muzej-detyam/interaktivnye-programmy/index.html' title='Интерактивные программы')
															span Интерактивные программы
													li
														a.dark-color(href='posetitelyam/muzej-detyam/peshekhodnye-ehkskursii-detyam/index.html' title='Пешеходные экскурсии детям')
															span Пешеходные экскурсии детям
													li
														a.dark-color(href='posetitelyam/muzej-detyam/prazdniki-v-muzee/index.html' title='Праздники в музее')
															span Праздники в музее
											li
												a.dark-color(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html' title='Цены и правила посещения')
													span Цены и правила посещения
									li
										a.dark-color.parent(href='predprinimatelyam/index.html' title='Предпринимателям')
											span Предпринимателям
											span.arrow
												svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
													path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
										ul.dropdown
											li
												svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
													path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
											li.menu_back
												a.dark-color(href='#' rel='nofollow')
													svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
														path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
													| 								Назад
											li.menu_title
												a.dark-color(href='predprinimatelyam/index.html') Предпринимателям
											li
												a.dark-color(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html' title='Экскурсии')
													span Экскурсии
											li
												a.dark-color(href='predprinimatelyam/uslugi-predprenimatelyam/index.html' title='Услуги')
													span Услуги
									li
										a.dark-color.parent(href='organizatsiyam/index.html' title='Организациям')
											span Организациям
											span.arrow
												svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
													path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
										ul.dropdown
											li
												svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
													path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
											li.menu_back
												a.dark-color(href='#' rel='nofollow')
													svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
														path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
													| 								Назад
											li.menu_title
												a.dark-color(href='organizatsiyam/index.html') Организациям
											li
												a.dark-color.parent(href='organizatsiyam/shkolam/index.html' title='Школам')
													span Школам
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/shkolam/index.html') Школам
													li
														a.dark-color(href='organizatsiyam/shkolam/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/shkolam/uslugi/index.html' title='Услуги')
															span Услуги
											li
												a.dark-color.parent(href='organizatsiyam/vuzam/index.html' title='ВУЗам')
													span ВУЗам
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/vuzam/index.html') ВУЗам
													li
														a.dark-color(href='organizatsiyam/vuzam/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/vuzam/uslugi/index.html' title='Услуги')
															span Услуги
											li
												a.dark-color.parent(href='organizatsiyam/predpriyatiyam/index.html' title='Предприятиям')
													span Предприятиям
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/predpriyatiyam/index.html') Предприятиям
													li
														a.dark-color(href='organizatsiyam/predpriyatiyam/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/predpriyatiyam/uslugi/index.html' title='Услуги')
															span Услуги
											li
												a.dark-color.parent(href='organizatsiyam/finansovym-organizatsiyam/index.html' title='Финансовым организациям')
													span Финансовым организациям
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/finansovym-organizatsiyam/index.html') Финансовым организациям
													li
														a.dark-color(href='organizatsiyam/finansovym-organizatsiyam/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/finansovym-organizatsiyam/uslugi/index.html' title='Услуги')
															span Услуги
											li
												a.dark-color.parent(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html' title='Благотворительным организациям')
													span Благотворительным организациям
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html') Благотворительным организациям
													li
														a.dark-color(href='organizatsiyam/blagotvoritelnym-organizatsiyam/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/blagotvoritelnym-organizatsiyam/uslugi/index.html' title='Услуги')
															span Услуги
											li
												a.dark-color.parent(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html' title='Центрам социального обслуживания')
													span Центрам социального обслуживания
													span.arrow
														svg.svg.svg_triangle_right(width='3' height='5' viewBox='0 0 3 5')
															path.cls-1(data-name='Rectangle 323 copy 9' d='M960,958v-5l3,2.514Z' transform='translate(-960 -953)')
												ul.dropdown
													li
														svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
															path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
													li.menu_back
														a.dark-color(href='#' rel='nofollow')
															svg.svg.svg-back(width='16' height='12' viewBox='0 0 16 12')
																path(data-name='Rounded Rectangle 804' d='M998,953H986.4l3.313,3.286a1,1,0,0,1,0,1.414,0.99,0.99,0,0,1-1.407,0l-5.034-4.993a1,1,0,0,1,0-1.414l5.034-5.024a0.992,0.992,0,0,1,1.407,0,1.006,1.006,0,0,1,0,1.415L986.384,951H998A1,1,0,0,1,998,953Z' transform='translate(-983 -946)')
															| 													Назад
													li.menu_title
														a.dark-color(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html') Центрам социального обслуживания
													li
														a.dark-color(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/ehkskursii/index.html' title='Экскурсии')
															span Экскурсии
													li
														a.dark-color(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/uslugi/index.html' title='Услуги')
															span Услуги
									li
										a.dark-color(href='sobytiya/index.html' title='Афиша')
											span Афиша
							.actions
							.contacts
								.phones
									ul
										li
											a.dark-color(href='tel:+74992375349')
												i.svg.svg-phone
												span +7 (499) 237-5349 
								.email
									i.svg.svg-email
									a(href='mailto:info@muzeydela.ru')
										span info@muzeydela.ru
								.address
									i.svg.svg-address
									| 					Москва, ул. Донская, д. 9
							.social-block
								.social-icons
									// noindex
									ul
										li.vk
											a(href='https://vk.com/muzeydela' target='_blank' rel='nofollow' title='Вконтакте')
												| Вконтакте
										li.facebook
											a(href='https://www.facebook.com/muzeydela' target='_blank' rel='nofollow' title='Facebook')
												| Facebook
										li.twitter
											a(href='https://twitter.com/muzeydela' target='_blank' rel='nofollow' title='Twitter')
												| Twitter
										li.instagram
											a(href='https://www.instagram.com/muzeydela/' target='_blank' rel='nofollow' title='Instagram')
												| Instagram
										li.livejournal
											a(href='https://muzeydela.livejournal.com/' target='_blank' rel='nofollow' title='Livejournal')
												| Livejournal
										li.yandex
											a(href='https://zen.yandex.ru/id/5c178acdc6ce5f00ad213d05' target='_blank' rel='nofollow' title='Яндекс.Zen')
												| Яндекс.Zen
									// /noindex
		.body.index.hover_
			.body_media
			.main.banner-(role='main')
				.container
					.drag-block.container(data-class='BIG_BANNER_INDEX_drag' data-order='1')
						.row.margin0
							.banners-big.front
		
		// description start
		section.description.section
			.maxwidth-theme
				.row
					.col-md-9
						h3.description__title Описание
						p.description__content Календарь на&nbsp;2021 год знакомит с&nbsp;предпринимательским наследием 12&nbsp;городов России и&nbsp;рекомендует интересные места для посещения во&nbsp;время путешествий и&nbsp;деловых поездок. На&nbsp;каждой странице в&nbsp;своих видеороликах , специально отснятых для этого календаря, вас приветствуют региональные музеи и&nbsp;отделения &laquo;ОПОРЫ РОССИИ&raquo;.
						p.description__content Благодарим наших партнеров за&nbsp;активное участие в&nbsp;создании календаря!
						p.description__content Пусть 2021 год станет годом больших возможностей, активной созидательной деятельности и&nbsp;воплощения самых грандиозных планов! Желаем вам крепкого здоровья и&nbsp;благополучия в&nbsp;Новом году!
		// description end

		// pages start
		section.pages.section
			.maxwidth-theme
				.row
					.col-md-9
						h3.pages__title Страницы календаря на&nbsp;2021 год
						.row
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-1.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-2.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-3.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-4.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-5.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-6.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-7.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-8.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-5.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-6.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-7.jpg", alt="")
							.col-lg-3.col-md-4.col-sm-4.col-xs-6
								a.pages__item(href="#")
									img(src="img/pages-8.jpg", alt="")
		// pages end

		// past-years start
		section.past-years.section
			.maxwidth-theme
				.row
					.col-md-9
						h3.past-years__title Календари за&nbsp;прошлые годы
						.past-years__items.past-years__items--js
							div.past-years__slide: .past-years__item.op-05
								a.past-years__link(href="#")
									img.past-years__img(src='img/past-1.jpg')
								p.past-years__caption 2020 год
							div.past-years__slide: .past-years__item
								a.past-years__link(href="#")
									img.past-years__img(src='img/past-1.jpg')
								p.past-years__caption 2019 год
							div.past-years__slide: .past-years__item
								a.past-years__link(href="#")
									img.past-years__img(src='img/past-1.jpg')
								p.past-years__caption 2018 год
							div.past-years__slide: .past-years__item
								a.past-years__link(href="#")
									img.past-years__img(src='img/past-1.jpg')
								p.past-years__caption 2017 год
		// past-years end

		.footer_slogan
			span.footer_slogan__text
				img(src='bitrix/templates/aspro-priority/add_on_images/index_slogan.svg' alt='')
		footer#footer.footer-v1
			.footer_top
				.maxwidth-theme
					.row
						.col-md-9
							.row
								.col-sm-4
									.bottom-menu
										.items
											.item
												.title
													a(href='o-muzee/index.html') О музее
											.wrap
												.item
													.title
														a(href='o-muzee/index-2.html') История музея
												.item
													.title
														a(href='o-muzee/staff/index.html') О ком наш музей
												.item
													.title
														a(href='o-muzee/chranitel-muzeja/index.html') Хранитель музея
												.item
													.title
														a(href='o-muzee/missiya-i-zadachi/index.html') Миссия и задачи
												.item
													.title
														a(href='o-muzee/ekspozitsiya/index.html') Экспозиция
												.item
													.title
														a(href='o-muzee/otzyvy-o-muzee/index.html') Отзывы о музее
												.item
													.title
														a(href='novosti/index.html') Новости
												.item
													.title
														a(href='o-muzee/kontakty/index.html') Контакты
								.col-sm-4
									.bottom-menu
										.items
											.item
												.title
													a(href='posetitelyam/index.html') Посетителям
											.wrap
												.item
													.title
														a(href='posetitelyam/ehkskursii-v-muzee/index.html') Экскурсии в музее
												.item
													.title
														a(href='posetitelyam/peshekhodnye-ehkskursii/index.html') Пешеходные экскурсии
												.item
													.title
														a(href='posetitelyam/muzej-detyam/index.html') Музей детям
												.item
													.title
														a(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html') Цены и правила посещения
								.col-sm-4
									.bottom-menu
										.items
											.item
												.title
													a(href='predprinimatelyam/index.html') Предпринимателям
											.wrap
												.item
													.title
														a(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html') Экскурсии
												.item
													.title
														a(href='predprinimatelyam/uslugi-predprenimatelyam/index.html') Услуги
							.row
								.col-sm-12
									br
									br
							.row
								.col-sm-4
									.bottom-menu
										.items
											.item
												.title
													a(href='organizatsiyam/index.html') Организациям
											.wrap
												.item
													.title
														a(href='organizatsiyam/shkolam/index.html') Школам
												.item
													.title
														a(href='organizatsiyam/vuzam/index.html') ВУЗам
												.item
													.title
														a(href='organizatsiyam/predpriyatiyam/index.html') Предприятиям
												.item
													.title
														a(href='organizatsiyam/finansovym-organizatsiyam/index.html') Финансовым организациям
												.item
													.title
														a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html') Благотворительным организациям
												.item
													.title
														a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html') Центрам социального обслуживания
								.col-sm-4
									.bottom-menu
										.items
											.item
												.title
													a(href='sobytiya/index.html') Афиша
								.col-sm-4
						.col-md-3.col-sm-12.contact-block
							.info
								.row
									.col-md-12.col-sm-12
										.subscribe_button
											span.btn(data-event='jqm' data-param-id='subscribe' data-param-type='subscribe' data-name='subscribe')
												| Подписка на рассылку
												svg.subscribe_icon(viewBox='0 0 21 16')
													path(d='M778,405.856a0.949,0.949,0,0,1,0,.226c0,0.007,0,.013,0,0.02a0.955,0.955,0,0,1-.112.357l-4.958,10.883a0.927,0.927,0,0,1-.046.153,0.974,0.974,0,0,1-.179.214h0a0.974,0.974,0,0,1-.28.2c-0.017.008-.032,0.019-0.05,0.026a0.972,0.972,0,0,1-.267.063,1.07,1.07,0,0,1-.127.012,0.989,0.989,0,0,1-.213-0.036,1.01,1.01,0,0,1-.132-0.022c-0.021-.009-0.035-0.026-0.056-0.036s-0.036-.007-0.052-0.016l-3.133-1.8-3.523,4.4a22.232,22.232,0,0,1-.2.229,0.96,0.96,0,0,1-.218.147,0.838,0.838,0,0,1-.1.047,0.975,0.975,0,0,1-.3.06c-0.019,0-.035.011-0.054,0.011s-0.017,0-.026,0a0.968,0.968,0,0,1-.293-0.06,0.821,0.821,0,0,1-.1-0.033,0.61,0.61,0,0,1-.082-0.028,0.906,0.906,0,0,1-.131-0.116,1,1,0,0,1-.1-0.091,0.983,0.983,0,0,1-.13-0.192,0.941,0.941,0,0,1-.069-0.143,1.032,1.032,0,0,1-.043-0.213A0.964,0.964,0,0,1,763,420v-6.986l-5.32-3.05a0.979,0.979,0,0,1-.618-0.621,1.19,1.19,0,0,1-.044-0.118c0-.014-0.012-0.024-0.014-0.039a0.722,0.722,0,0,1,0-.081,0.966,0.966,0,0,1,1.118-1.113L776.851,405c0.027,0,.052,0,0.078,0s0.047,0,.071,0a0.98,0.98,0,0,1,.307.037,0.906,0.906,0,0,1,.089.042,0.96,0.96,0,0,1,.233.128,1.008,1.008,0,0,1,.122.13,0.957,0.957,0,0,1,.119.15c0.011,0.018.029,0.029,0.039,0.048a1,1,0,0,1,.059.212,0.661,0.661,0,0,1,.028.074A0.226,0.226,0,0,1,778,405.856Zm-6.453,9.739,3.332-7.314-8.3,4.467ZM765,417.17l1.651-2.064L765,414.16v3.01Zm-0.462-5.59,6.83-3.676-10.359,1.653Z' transform='translate(-757 -405)')
									.col-md-12.col-sm-12
										.phone.blocks
											.inline-block
												.phone
													.wrap
														div
															svg.svg.svg-phone.white.sm(width='5' height='13' viewBox='0 0 5 13')
																path.cls-phone(d='M785.738,193.457a22.174,22.174,0,0,0,1.136,2.041,0.62,0.62,0,0,1-.144.869l-0.3.3a0.908,0.908,0,0,1-.805.33,4.014,4.014,0,0,1-1.491-.274c-1.2-.679-1.657-2.35-1.9-3.664a13.4,13.4,0,0,1,.024-5.081c0.255-1.316.73-2.991,1.935-3.685a4.025,4.025,0,0,1,1.493-.288,0.888,0.888,0,0,1,.8.322l0.3,0.3a0.634,0.634,0,0,1,.113.875c-0.454.8-.788,1.37-1.132,2.045-0.143.28-.266,0.258-0.557,0.214l-0.468-.072a0.532,0.532,0,0,0-.7.366,8.047,8.047,0,0,0-.023,4.909,0.521,0.521,0,0,0,.7.358l0.468-.075c0.291-.048.4-0.066,0.555,0.207h0Z' transform='translate(-782 -184)')
															a(href='tel:+74992375349') +7 (499) 237-5349 
									.col-md-12.col-sm-12
										.email.blocks
											a(href='mailto:info@muzeydela.ru')
												span info@muzeydela.ru
									.col-md-12.col-sm-12
										.address.blocks
											| Москва, ул. Донская, д. 9
			.footer_middle
				.maxwidth-theme
					.row
						.col-md-12.col-sm-12
							.social-block
								.social-icons
									// noindex
									ul
										li.vk
											a(href='https://vk.com/muzeydela' target='_blank' rel='nofollow' title='Вконтакте')
												| Вконтакте
										li.facebook
											a(href='https://www.facebook.com/muzeydela' target='_blank' rel='nofollow' title='Facebook')
												| Facebook
										li.twitter
											a(href='https://twitter.com/muzeydela' target='_blank' rel='nofollow' title='Twitter')
												| Twitter
										li.instagram
											a(href='https://www.instagram.com/muzeydela/' target='_blank' rel='nofollow' title='Instagram')
												| Instagram
										li.livejournal
											a(href='https://muzeydela.livejournal.com/' target='_blank' rel='nofollow' title='Livejournal')
												| Livejournal
										li.yandex
											a(href='https://zen.yandex.ru/id/5c178acdc6ce5f00ad213d05' target='_blank' rel='nofollow' title='Яндекс.Zen')
												| Яндекс.Zen
									// /noindex
			.footer_bottom
				.maxwidth-theme
					.row
						.link_block.col-md-6.col-sm-6.pull-right
							.pull-right
								.print-link
									svg.svg.svg-print(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16')
										path.cls-print(data-name='Rectangle 665 copy 4' d='M1570,210h-2v3h-8v-3h-2a2,2,0,0,1-2-2v-5a2,2,0,0,1,2-2h2v-4h8v4h2a2,2,0,0,1,2,2v5A2,2,0,0,1,1570,210Zm-8,1h4v-4h-4v4Zm4-12h-4v2h4v-2Zm4,4h-12v5h2v-3h8v3h2v-5Z' transform='translate(-1556 -197)')
									span.text Версия для печати
							.pull-right
								.confidentiality
									a(href='include/licenses_detail.html') Политика конфиденциальности
						.copy-block.col-md-6.col-sm-6.pull-left
							.copy.font_xs.pull-left
								| © 2020 Все права защищены.
							#bx-composite-banner.pull-left
		.bx_areas
 
		.inline-search-block.fixed.with-close.big
			.maxwidth-theme
				.search-wrapper
					#title-search
						form.search(action='https://muzeydela.ru/search/')
							.search-input-div
								input#title-search-input.search-input(type='text' name='q' value='' placeholder='Найти' size='40' maxlength='50' autocomplete='off')
							.search-button-div
								button.btn.btn-search.btn-default.btn-lg(type='submit' name='s' value='Найти') Найти
								span.close-block.inline-search-hide
									span.svg.svg-close.close-icons
										svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
											path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	<script src="bitrix/templates/aspro-priority/vendor/slick-1.8.1/slick/slick.minb0fa.js"></script>
	<script src="js/custom.js"></script>