include _head.pug
include blocks/_filter.pug
include blocks/_footer.pug
include blocks/_pagination.pug
+head
	.body.hover_(style='min-height: 912px;')
		.body_media
		.main.banner-(role='main')
			.container
				.row
					.col-md-12.col-sm-12.col-xs-12.content-md
						.js_exclude_mobile_swipe
						+filter()
						.list-view-section
							.tabs_type_filter__wrapper
								.tabs_type_filter
									a.tabs_type_filter__item(href='/posetitelyam/ceny-i-pravila-poseshcheniya/') Объекты
									a.tabs_type_filter__item.shadow(href='/posetitelyam/ceny-i-pravila-poseshcheniya/rules.php').tabs_type_filter__item__selected благотворители
							mixin gr(t)
								.list-view-section-group
									.list-view-section-group__title
										block
										= t
									.list-view-section-group__body
										.row
											- for (var x = 0; x < 2; x++)
												.col-sm-6.col-xs-12
													.list-view-section-item
														a.list-view-section-item__img-wrap(href="#")
															img(src="img/list.jpg", alt="")
														.list-view-section-item__body
															a(href="#").d-block 
																.list-view-section-item__title.list-view-section-item__title--lg Чайный дом на Мясницкой 
																.list-view-section-item__title.list-view-section-item__title--sm  Чайный магазин Перлова
														a.projects_map_popup__address(href="#")  пл. Киевского вокзала, стр. 2

														.projects_map_popup__info__item__title
															| Благотворитель
														a.projects_map_popup__info__item__val.projects_map_popup__info__item__val__philantrops(href='/map/mariya-fyedorovna-morozova/')
															.projects_map_popup__info__item__pic(style="background-image: url('img/299a06327e6cbd1b768039863330ee01.jpg');")
															.projects_map_popup__info__item__pic__text   Мария Федоровна Морозова

							+gr(`Библиотеки`)
								img(src="img/libsvg.svg", alt="")
							+gr(`Больницы`)
								img(src="img/b.svg", alt="")
							+pagination
	+footer()
						