
mixin footer()
	.footer_slogan
			span.footer_slogan__text
				img(src='bitrix/templates/aspro-priority/add_on_images/index_slogan.svg' alt='')
	footer#footer.footer-v1
		.footer_top
			.maxwidth-theme
				.row
					.col-md-9
						.row
							.col-sm-4
								.bottom-menu
									.items
										.item
											.title
												a(href='o-muzee/index.html') О музее
										.wrap
											.item
												.title
													a(href='o-muzee/index-2.html') История музея
											.item
												.title
													a(href='o-muzee/staff/index.html') О ком наш музей
											.item
												.title
													a(href='o-muzee/chranitel-muzeja/index.html') Хранитель музея
											.item
												.title
													a(href='o-muzee/missiya-i-zadachi/index.html') Миссия и задачи
											.item
												.title
													a(href='o-muzee/ekspozitsiya/index.html') Экспозиция
											.item
												.title
													a(href='o-muzee/otzyvy-o-muzee/index.html') Отзывы о музее
											.item
												.title
													a(href='novosti/index.html') Новости
											.item
												.title
													a(href='o-muzee/kontakty/index.html') Контакты
							.col-sm-4
								.bottom-menu
									.items
										.item
											.title
												a(href='posetitelyam/index.html') Посетителям
										.wrap
											.item
												.title
													a(href='posetitelyam/ehkskursii-v-muzee/index.html') Экскурсии в музее
											.item
												.title
													a(href='posetitelyam/peshekhodnye-ehkskursii/index.html') Пешеходные экскурсии
											.item
												.title
													a(href='posetitelyam/muzej-detyam/index.html') Музей детям
											.item
												.title
													a(href='posetitelyam/ceny-i-pravila-poseshcheniya/index.html') Цены и правила посещения
							.col-sm-4
								.bottom-menu
									.items
										.item
											.title
												a(href='predprinimatelyam/index.html') Предпринимателям
										.wrap
											.item
												.title
													a(href='predprinimatelyam/ekskursii-predprinimatelyam/index.html') Экскурсии
											.item
												.title
													a(href='predprinimatelyam/uslugi-predprenimatelyam/index.html') Услуги
						.row
							.col-sm-12
								br
								br
						.row
							.col-sm-4
								.bottom-menu
									.items
										.item
											.title
												a(href='organizatsiyam/index.html') Организациям
										.wrap
											.item
												.title
													a(href='organizatsiyam/shkolam/index.html') Школам
											.item
												.title
													a(href='organizatsiyam/vuzam/index.html') ВУЗам
											.item
												.title
													a(href='organizatsiyam/predpriyatiyam/index.html') Предприятиям
											.item
												.title
													a(href='organizatsiyam/finansovym-organizatsiyam/index.html') Финансовым организациям
											.item
												.title
													a(href='organizatsiyam/blagotvoritelnym-organizatsiyam/index.html') Благотворительным организациям
											.item
												.title
													a(href='organizatsiyam/tsentram-sotsialnogo-obsluzhivaniya/index.html') Центрам социального обслуживания
							.col-sm-4
								.bottom-menu
									.items
										.item
											.title
												a(href='sobytiya/index.html') Афиша
							.col-sm-4
					.col-md-3.col-sm-12.contact-block
						.info
							.row
								.col-md-12.col-sm-12
									.subscribe_button
										span.btn(data-event='jqm' data-param-id='subscribe' data-param-type='subscribe' data-name='subscribe')
											| Подписка на рассылку
											svg.subscribe_icon(viewBox='0 0 21 16')
												path(d='M778,405.856a0.949,0.949,0,0,1,0,.226c0,0.007,0,.013,0,0.02a0.955,0.955,0,0,1-.112.357l-4.958,10.883a0.927,0.927,0,0,1-.046.153,0.974,0.974,0,0,1-.179.214h0a0.974,0.974,0,0,1-.28.2c-0.017.008-.032,0.019-0.05,0.026a0.972,0.972,0,0,1-.267.063,1.07,1.07,0,0,1-.127.012,0.989,0.989,0,0,1-.213-0.036,1.01,1.01,0,0,1-.132-0.022c-0.021-.009-0.035-0.026-0.056-0.036s-0.036-.007-0.052-0.016l-3.133-1.8-3.523,4.4a22.232,22.232,0,0,1-.2.229,0.96,0.96,0,0,1-.218.147,0.838,0.838,0,0,1-.1.047,0.975,0.975,0,0,1-.3.06c-0.019,0-.035.011-0.054,0.011s-0.017,0-.026,0a0.968,0.968,0,0,1-.293-0.06,0.821,0.821,0,0,1-.1-0.033,0.61,0.61,0,0,1-.082-0.028,0.906,0.906,0,0,1-.131-0.116,1,1,0,0,1-.1-0.091,0.983,0.983,0,0,1-.13-0.192,0.941,0.941,0,0,1-.069-0.143,1.032,1.032,0,0,1-.043-0.213A0.964,0.964,0,0,1,763,420v-6.986l-5.32-3.05a0.979,0.979,0,0,1-.618-0.621,1.19,1.19,0,0,1-.044-0.118c0-.014-0.012-0.024-0.014-0.039a0.722,0.722,0,0,1,0-.081,0.966,0.966,0,0,1,1.118-1.113L776.851,405c0.027,0,.052,0,0.078,0s0.047,0,.071,0a0.98,0.98,0,0,1,.307.037,0.906,0.906,0,0,1,.089.042,0.96,0.96,0,0,1,.233.128,1.008,1.008,0,0,1,.122.13,0.957,0.957,0,0,1,.119.15c0.011,0.018.029,0.029,0.039,0.048a1,1,0,0,1,.059.212,0.661,0.661,0,0,1,.028.074A0.226,0.226,0,0,1,778,405.856Zm-6.453,9.739,3.332-7.314-8.3,4.467ZM765,417.17l1.651-2.064L765,414.16v3.01Zm-0.462-5.59,6.83-3.676-10.359,1.653Z' transform='translate(-757 -405)')
								.col-md-12.col-sm-12
									.phone.blocks
										.inline-block
											.phone
												.wrap
													div
														svg.svg.svg-phone.white.sm(width='5' height='13' viewBox='0 0 5 13')
															path.cls-phone(d='M785.738,193.457a22.174,22.174,0,0,0,1.136,2.041,0.62,0.62,0,0,1-.144.869l-0.3.3a0.908,0.908,0,0,1-.805.33,4.014,4.014,0,0,1-1.491-.274c-1.2-.679-1.657-2.35-1.9-3.664a13.4,13.4,0,0,1,.024-5.081c0.255-1.316.73-2.991,1.935-3.685a4.025,4.025,0,0,1,1.493-.288,0.888,0.888,0,0,1,.8.322l0.3,0.3a0.634,0.634,0,0,1,.113.875c-0.454.8-.788,1.37-1.132,2.045-0.143.28-.266,0.258-0.557,0.214l-0.468-.072a0.532,0.532,0,0,0-.7.366,8.047,8.047,0,0,0-.023,4.909,0.521,0.521,0,0,0,.7.358l0.468-.075c0.291-.048.4-0.066,0.555,0.207h0Z' transform='translate(-782 -184)')
														a(href='tel:+74992375349') +7 (499) 237-5349 
								.col-md-12.col-sm-12
									.email.blocks
										a(href='mailto:info@muzeydela.ru')
											span info@muzeydela.ru
								.col-md-12.col-sm-12
									.address.blocks
										| Москва, ул. Донская, д. 9
		.footer_middle
			.maxwidth-theme
				.row
					.col-md-12.col-sm-12
						.social-block
							.social-icons
								// noindex
								ul
									li.vk
										a(href='https://vk.com/muzeydela' target='_blank' rel='nofollow' title='Вконтакте')
											| Вконтакте
									li.facebook
										a(href='https://www.facebook.com/muzeydela' target='_blank' rel='nofollow' title='Facebook')
											| Facebook
									li.twitter
										a(href='https://twitter.com/muzeydela' target='_blank' rel='nofollow' title='Twitter')
											| Twitter
									li.instagram
										a(href='https://www.instagram.com/muzeydela/' target='_blank' rel='nofollow' title='Instagram')
											| Instagram
									li.livejournal
										a(href='https://muzeydela.livejournal.com/' target='_blank' rel='nofollow' title='Livejournal')
											| Livejournal
									li.yandex
										a(href='https://zen.yandex.ru/id/5c178acdc6ce5f00ad213d05' target='_blank' rel='nofollow' title='Яндекс.Zen')
											| Яндекс.Zen
								// /noindex
		.footer_bottom
			.maxwidth-theme
				.row
					.link_block.col-md-6.col-sm-6.pull-right
						.pull-right
							.print-link
								svg.svg.svg-print(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16')
									path.cls-print(data-name='Rectangle 665 copy 4' d='M1570,210h-2v3h-8v-3h-2a2,2,0,0,1-2-2v-5a2,2,0,0,1,2-2h2v-4h8v4h2a2,2,0,0,1,2,2v5A2,2,0,0,1,1570,210Zm-8,1h4v-4h-4v4Zm4-12h-4v2h4v-2Zm4,4h-12v5h2v-3h8v3h2v-5Z' transform='translate(-1556 -197)')
								span.text Версия для печати
						.pull-right
							.confidentiality
								a(href='include/licenses_detail.html') Политика конфиденциальности
					.copy-block.col-md-6.col-sm-6.pull-left
						.copy.font_xs.pull-left
							| © 2020 Все права защищены.
						#bx-composite-banner.pull-left
	.bx_areas

	.inline-search-block.fixed.with-close.big
		.maxwidth-theme
			.search-wrapper
				#title-search
					form.search(action='https://muzeydela.ru/search/')
						.search-input-div
							input#title-search-input.search-input(type='text' name='q' value='' placeholder='Найти' size='40' maxlength='50' autocomplete='off')
						.search-button-div
							button.btn.btn-search.btn-default.btn-lg(type='submit' name='s' value='Найти') Найти
							span.close-block.inline-search-hide
								span.svg.svg-close.close-icons
									svg.svg.svg-close(width='14' height='14' viewBox='0 0 14 14')
										path.cls-1(data-name='Rounded Rectangle 568 copy 16' d='M1009.4,953l5.32,5.315a0.987,0.987,0,0,1,0,1.4,1,1,0,0,1-1.41,0L1008,954.4l-5.32,5.315a0.991,0.991,0,0,1-1.4-1.4L1006.6,953l-5.32-5.315a0.991,0.991,0,0,1,1.4-1.4l5.32,5.315,5.31-5.315a1,1,0,0,1,1.41,0,0.987,0.987,0,0,1,0,1.4Z' transform='translate(-1001 -946)')